on property:sys.boot_completed=1 && property:persist.sys.revan.mod=true
    # Unmount previous mount if any
    umount /product/app/YouTube/com.google.android.youtube.apk

    # Bind mount patched YouTube directly from product
    mount none /product/etc/rv/YTPatched.apk /product/app/YouTube/com.google.android.youtube.apk bind

    # Unmount previous mount if any
    umount /product/app/YTMusic/com.google.android.apps.youtube.music.apk

    # Bind mount patched Music directly from product
    mount none /product/etc/rv/YTMusicPatched.apk /product/app/YTMusic/com.google.android.apps.youtube.music.apk bind

    # Lock it read-only
    # mount none /product/app/YouTube/com.google.android.youtube.apk /product/app/YouTube/com.google.android.youtube.apk remount,bind,ro
